# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
MetaBuilder.v12.suo
MetBuilder.Console/bin/
MetaBuilder/obj/
MetaBuilder/bin/
BuildOrder/obj/
BuildOrder/bin/
MetaBuilder.Core/obj/
MetaBuilder.Core/bin/
MetBuilder.Console/obj/
TestNewThings/bin/
TestNewThings/obj/
MetBuilder.Console/bin/
BuildOrder/obj/
